header {
    background-color: rgb(33, 37, 41);
}

.fon {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 5px 15px black;
    transition: all 0.3 ease;
    margin-top: -20px;
}

.fon:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px black;
}

.h2-title {
    margin-top: 20px;
}

.card-text {
    text-align: justify;
}